<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OrçaFácil | Crie orçamentos em menos de 1 minuto</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<header class="header">

    <div class="container">

        <h2 class="logo">OrçaFácil</h2>

    </div>

</header>

<main>

<section class="hero">

<div class="container">

<p class="hero-tag">

⚡ Rápido • Simples • Profissional

</p>

<h1>

Crie orçamentos profissionais

em menos de <span>1 minuto.</span>

</h1>

<p class="hero-description">

O jeito mais rápido de criar orçamentos para seus clientes.

Sem cadastro, sem complicação e pronto para gerar PDF.

</p>

<a href="/workspace" class="btn-primary">

Criar orçamento

</a>

<div class="benefits">

<div>✔ Sem cadastro</div>

<div>✔ PDF profissional</div>

<div>✔ Funciona no celular</div>

</div>

</div>

</section>

</main>

</body>

</html>
